.amazon_div{
  margin-right: 10px;
  display: inline-block;
}
.login_div{
  display: inline-block;
}
p{
    font-family: roboto;
}
a{
    font-family: roboto;
}
button{
    font-family: roboto;
}
.amazonback {
  color: rgb(0, 113, 133);
}
.amazonback:hover {
  color: orange;
}
.item {
  font-weight: bold;
  font-size: 25px;
}
.pricetag {
  color: rgb(0, 118, 0);
  font-weight: bold;
}
.addtocart {
  background-color: rgb(255, 216, 20);
  color: black;
  border-radius: 12.5px;
  border: none;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.addtocart:hover {
  background-color: rgb(255, 200, 0);
}
.addtocart:active {
  opacity: 0.7;
}
.buynow {
  background-color: rgb(255, 164, 28);
  color: black;
  border-radius: 12.5px;
  border: none;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.buynow:hover {
  background-color: rgb(255, 130, 0);
}
.buynow:active {
  opacity: 0.7;
}
.first_name,
.last_name{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  width: 80px;
}
.email{
  margin-top: 8px;
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  width: 188px;
}
.signup{
  margin-top: 8px;
  background-color: rgb(21, 183, 247);
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 212px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 
    background-color 0.15s;
}
.signup:hover{
background-color: rgb(21, 150, 247);
}
.signup:active{
  opacity: 0.7;
}
.main-div{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 75px;
}
