.amazonback {
  color: rgb(0, 113, 133);
}
.amazonback:hover {
  color: orange;
}
.item {
  font-weight: bold;
  font-size: 25px;
}
.pricetag {
  color: rgb(0, 118, 0);
  font-weight: bold;
}
.addtocart {
  background-color: rgb(255, 216, 20);
  color: black;
  border-radius: 12.5px;
  border: none;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.addtocart:hover {
  background-color: rgb(255, 200, 0);
}
.addtocart:active {
  opacity: 0.7;
}
.buynow {
  background-color: rgb(255, 164, 28);
  color: black;
  border-radius: 12.5px;
  border: none;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.buynow:hover {
  background-color: rgb(255, 130, 0);
}
.buynow:active {
  opacity: 0.7;
}
